section#fotolavhalar {
  img {
    width: 100%;
  }
  @media (min-width: 768px) {
    .lavha-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 1rem;

      article {
        width: 45%;
        margin: 0 auto;

        &:nth-child(3) {
          margin: 0 auto;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    .lavha-wrapper article {
      width: 30%;
    }
  }
}
