header#main-header {
  padding: 1em 0;
  color: $oq;

  ul {
    display: none;
  }

  @media (min-width: 1200px) {
    ul {
      display: flex;
      gap: 1rem;
    }

    .dropdown {
      display: none;
    }
  }
}
